
@media screen and (max-width: 700px) {

    body {
        margin: 0 5%;
    }

    .contact__text .text2 {
        font-size: 20px;
    }

    #projects {
        display: flex;
        justify-content: center;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px 15px 20px 15px;
        gap: 40px;
    }

    .box {
        width: auto;
        aspect-ratio: 0;
    }

    .box img {
        height: auto;
        max-height: 350px;
    }

    .popup {
        width: 80vw;
    }

    .popup img {
        height: 20%;
    }

    .contact__text svg {
        width: 25px;
    }


}

@media screen and (max-width: 1050px) {
    #profile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
        margin-bottom: 40px;
    }

    .section__pic-container img {
        margin: 0 auto;
        width: 220px;
        height: auto;
        max-height: 100%;
        aspect-ratio: 1/1;
    }

    .title {
        margin-bottom: 20px;
        font-size: xx-large;
    }

    .btn-container {
        justify-content: left;
    }
    .btn {
        margin-top: 20px;
    }

    .wrapper {
        gap: 40px;
    }
}