/* General */

/*@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* For WebKit-based browsers (Chrome, Safari, newer versions of Opera) */
::-webkit-scrollbar {
    width: 10px; 
}

/* Track */
::-webkit-scrollbar-track {
    background: #333; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #666; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #888;
}

body {
    /*font-family: "Poppins", "sans-serif"; */
    font-family: "Lato";
    /* background-color: #0d0f19; */
    background-color:hsla(221,38%,14%,1);
    background-image:
    radial-gradient(at 23% 83%, rgb(12, 18, 30) 0px, transparent 50%),
    radial-gradient(at 16% 8%, hsla(225,33%,8%,1) 0px, transparent 50%),
    radial-gradient(at 89% 95%, rgb(15, 19, 30) 0px, transparent 50%),
    radial-gradient(at 99% 10%, rgb(14, 31, 43) 0px, transparent 50%);

}

html {
    scroll-behavior: smooth;
}

/* Transition */

a, .btn {
    transition: all 200 ms ease
}

button {
    background-color: inherit;
    border: none;
}

/* SECTIONS */

section {
    height: 96vh;
    min-height: fit-content;
}

.section-container {
    display: flex;
}

/* PROFILE SECTION */

#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 65vh;
    margin-bottom: 13vh;
    margin-top: 15vh;
    padding-bottom: 40px;
}

.section__pic-container {
    display: flex;
    margin: auto 0;
}

.section__pic-container img {
    border-radius: 50%;
    object-position: -20%, 0;

    object-fit: cover;
    height: 450px;
    width: 450px;
}

.section__text {
    align-self: center;
    text-align: center;
    color: white;
}

.section__text p {
    font-weight: 400;
}

.section__text__p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.title {
    font-size: 3rem;
    text-align: center;
    color: white;
    font-weight: 600;
    cursor: default;
}

.title2 {
    display: flex;
    font-size: 2rem;
    text-align: left;
    margin-top: 60px;
    margin-left: 20vw;
    color: white;
    font-weight: 600;
    cursor: default;
}

.box-about_me {
    border: 1px solid #d48641;
    height: auto;
    width: 450px;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: left;
    cursor: default;
}

/* BUTTONS */

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

 .btn {
    width: 6rem;
    height: 3rem; 
    transition: all 200ms ease;
    width: 7rem;
    border-radius: 20px;    
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 20px;
    font-weight: 500;
    color: white;

    background-color: #576e7a27;
    border-top: 1.5px solid rgba(227, 241, 255, 0.068);

    border-radius: 25px;
    box-shadow: 0px 10px 20px 0px rgba(13, 23, 34, 0.334);
 }

 .btn::before {
    content: "";
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    background-color: white;
  }

 .btn:hover {
    box-shadow: 0px 10px 20px 0px rgba(13, 23, 34, 0.334);
    background: #d4864147;
    color: white;
    cursor: pointer;
    transform: translateY(-1.5px);
 }

 .btn:active {
    transform: translateY(10px);
    background-color:rgba(255, 255, 255, 0.25);
    transition: all 100ms ease;
 }


/* MY PROJECTS SECTION */

#projects {
    background-color: #576e7a27;
    border-top: 1.5px solid rgba(227, 241, 255, 0.068);

    border-radius: 30px;
    box-shadow: 0px 10px 20px 0px rgb(13, 23, 34);
    height: auto;
    width: 60vw;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 80px;
    padding: 50px 0px 50px 0px;
    
    position: relative;
    display: flex; 
    justify-content: center;
    align-items: center; 
    overflow: hidden;
    transition: all 500ms;
}

#projects:hover {
    background-color: #576e7a2e;
}

/* BOX */

.wrapper {
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    align-items: stretch;
    width: 1000px;

    display: grid;
    grid-template-columns: 40% 40%;
    grid-row-gap: 50px;
}

.box {
    display: grid;
    grid-auto-flow: row;
    aspect-ratio: 1/1;
    padding-bottom: 25px;
    background: #141825;
    color: white;
    border-radius: 20px;
    overflow: hidden;
    transition: all 300ms ease;
    box-shadow: 0px 5px 10px 0px #0d0f19;
}

    
.box img {
    height: 240px;
    width: 100%;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.box > *:not(img) {
    padding-left: 30px;
    padding-right: 30px;
}

.box:hover {
    transform: translateY(-3px);
}   

.box-title {
    display: inline-block;
    color: white;
    font-size: large;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 15px;
    cursor: default;
    word-wrap: break-word;
    width: calc(100% - 40px);
}

.box__tag-container {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.box__tag {
    width: fit-content;
    height: fit-content;
    font-size: small;
    padding: 5px 10px 5px 10px;
    color: #7882b1;
    background-color: #1f243c;
    border-radius: 20px;
    cursor: default;
}

.box__button {
    color: #d48641;
    display: inline;
    width: fit-content;
    font-size: medium;
    font-weight: 600;
    text-align: left;
    transition: all 100ms;
}

.box__button:hover {
    color: #787878;
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 10px;
}

/* BOX POPUP */
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    background-color: rgba(1, 1, 3, 0.7);
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
    height: 100%;
    visibility: visible;
}

.popup {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 10;
    background-color: #0d0f19;
    border: 1px solid #485074;
    border-radius: 20px;

    width: 800px;
    height: auto;
    max-width: 1000px;
    max-height: 95vh; 

    padding-bottom: 30px;
    text-align: left;
    visibility: visible;
    overflow: auto;
}

.popup::-webkit-scrollbar {
    width: 0;
}

.popup img {
    height: 400px;
    width: 100%;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
}

.popup > *:not(img) {
    padding-left: 30px;
    padding-right: 30px;
    overflow-wrap: break-word;
}

.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%);
}

.popup-description {
    display: inline-block;
    color: rgb(181,181,181);
    font-size: medium;
    margin-top: 15px;
    margin-bottom: 25px;
    cursor: default;
}

.popup-button {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.popup-openpdf__button {
    width: max-content;
    font-size: small;
    padding: 10px 14px 10px 14px;
    color: white;
    border-radius: 20px;
    font-weight: 500;
    transition: all 150ms ease;
    cursor: default;

    background-color: #576e7a27;
    border-top: 1.5px solid rgba(227, 241, 255, 0.068);
}

.popup-openpdf__button:hover {

    color: white;
    background: #d4864147; 
    box-shadow: 0px 0px 0px 0px;
}

.popup-openpdf__button:active {
    transform: translateY(10px);
    background-color:rgba(255, 255, 255, 0.25);
    transition: all 100ms ease; 
}


/* MY CONTACTS SECTION */

#contact {
    height: auto;
    padding-bottom: 50px;
    width: 50%;
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: left;
}


.contact__text {
    display: inline-block;
    justify-content: center; 
    align-items: center;
    margin-top: 30px;
    margin-left: 20vw;
    line-height: 2;
}


.contact__text .text1 {
    color: rgb(181,181,181);
    font-weight: 350;
    font-size: 15px;
}

.contact__text .text2 {
    color: white;
    font-size: 25px;
    transition: all 0.3s ease-in-out;

}

.contact__text .text2:hover {
    color: #d48641;
    transition: all 200ms;
    cursor: pointer;
}
 
